config/zsh/.zcompdump
config/zsh/.zsh_history
config/zsh/conda_init
config/nvim/plugged
config/nvim/.netrwhist
config/nvim/.netrwbook
config/nvim/spell/
config/zsh/zshrc_local
config/bspwm/bspwmrc_local
config/wallpaper/*
